.form-submit {
  display: flex;
  flex-direction: column;
}

.label-font {
  font-family: "SourceSansPro-Regular";
  color: #68717c;
  line-height: 22px;
  margin-top: -50px;
}

.label-hint-font {
  font-family: "SourceSansPro-Regular";
  line-height: 22px;
  margin-top: -50px;
}
.label-hint-font.error {
  color: #fa5e5b;
}
.label-hint-font.filled {
  color: #16c98d;
}

.main-title {
  width: 213px;
  height: 38px;
  font-family: SourceSansPro;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: normal;
  color: #1b2834;
}

.form-input {
  margin: 8px 100% 29px 0;
  padding: 0 16px;
  width: 376px;
  height: 34px;
  /* border-style: solid; */
  border-radius: 3px;
  /* object-fit: contain; */
  box-shadow: inset 0 0 3px 0 rgba(27, 40, 52, 0.08);
  border: solid 1px #d4d8db;
  background-color: rgba(27, 40, 52, 0.01);
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #68717c;
}

.form-label {
  /* display: flex;
  margin-top: 50px; */
}

/* .label-hint {
  line-height: 22px;
} */

.hint-rigth {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 457px;
  top: 54px;
  color: #68717c;
  /* margin-left: 457px;
  margin-top: 127px; */
}

.hint-rigth.error {
  color: #fa5e5b;
}

.char-limit {
  line-height: 22px;
}
/* 
.error {
  color: #fa5e5b;
} */

.textarea-input {
  width: 376px;
  height: 131px;
  margin: 8px 100% 29px 0;
  padding: 7px 16px;
  object-fit: contain;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px 0 rgba(27, 40, 52, 0.08);
  border: solid 1px #d4d8db;
  background-color: rgba(27, 40, 52, 0.01);
  resize: none;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #68717c;
  overflow: hidden;
}

.button-photo-select {
  width: 178px;
  height: 36px;
  margin-top: 32px;
  margin-bottom: 23px;
  border-color: #2d74da;
  color: #2d74da;
  border-radius: 3px;
  background: #ffffff;
  object-fit: contain;
  border: solid 1px #2d74da;
}

.button-photo-select:hover {
  background-color: #2d74da;
  color: #ffffff;
  cursor: pointer;
}

.button-photo-select:active {
  background-color: #1c5bb5;
}

.button-submit {
  width: 141px;
  height: 36px;
  box-shadow: 0 1px 0 0 rgba(27, 40, 52, 0.16);
  background-image: linear-gradient(to bottom, #2d74da, #2367c8);
  border-style: none;
  border-radius: 3px;
  color: #ffffff;
}

.button-submit:hover {
  background-image: linear-gradient(to top, #2d74da, #276ccf, #2367c8);
  cursor: pointer;
}

.dropdown-cities {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
   */
  width: 410px;
  height: 36px;
  border-radius: 3px;
  margin: 12px 100% 32px 0;
  padding: 8px 0 9px 15px;
  color: #68717c;

  /* color:#fff;
  background:#369; */
}

/* .city-select:hover {
  box-shadow: 0 0 10px 100px #1882a8 inset;
} */
/* .city-select {
  color: blue;
} */
.city-option {
  /* color: red; */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
  border: solid 1px #d4d8db;
  font-size: 20px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  /* color: #68717c; */
}

/* .select-selected:after {
  background-color: red;
} */

/* .img-adv {
  display: none;
} */

/* .city-select {
} */

.img-photo {
  display: block;
  width: 69px;
  height: 52px;
  padding-bottom: 23px;
  /* background-color: pink; */
}

.label-fileName {
  height: 18px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2d74da;
}

.btn-img-delete {
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fa5e5b;
  text-decoration: underline;
  text-decoration-style: dotted;
}
.btn-img-delete:hover {
  cursor: pointer;
}
