.adv {
  display: flex;
  flex-direction: column;
}

.adv-title {
  font-family: SourceSansPro;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: normal;
  color: #1b2834;
  margin: 54px 100% 23px 0;
}
